body * {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    box-sizing: border-box;
	color: var(--fontBlack);
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul, li {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--base0: #F2F2F2;
    --base1: #23292e;
	--base2: #343D46;
	--accent0: #ff8851;
    --accent1: #ff3c00;
    --fontBlack: rgb(80,80,80);
    --grey: rgb(230,230,230);
    --darkGrey: rgb(200,200,200);
    --lightGrey: rgb(240,240,240);
    --redTint: #e91010c2;
}

a:hover {
	color: blue;
}

body {
	background-color: var(--base0);
}

#view {
    display: flex;
    flex-direction: row;
	min-height: 100vh;
    color: var(--base0);
	max-height: 100vh;
	overflow: hidden;
}

.ReactModal__Content {
	margin: auto;
	width: 600px;
	height: fit-content;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.ReactModalPortal h2 {
    font-family: 'Montserrat', sans-serif;
    color: var(--base0);
    text-align: center;
    vertical-align: center;
    margin: auto;
    padding-bottom: 24px;
    font-weight: bold;
}

.ReactModalPortal label {
    font-family: 'Montserrat', sans-serif;
    color: var(--base0);
    padding-bottom: .5rem;
    font-weight: bold;
    display: block;
}

.ReactModalPortal label.small {
    width: 300px;
    margin: 0 auto;
}

.ReactModalPortal .empty {
    font-size: 1.2rem;
    margin: auto;
}

.ReactModalPortal form {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.ReactModalPortal .form-group, .ReactModalPortal .form-group-date {
    display: flex;
    flex-flow: column;
    width: 80%;
    margin: 0 auto;
}

.ReactModalPortal form select[name="user_id"]  {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 300px;
    border: none;
    box-sizing: border-box;
    padding: .375rem .5rem;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    border: 1px solid rgba(80, 80, 80, 0.25);
    border-radius: .3rem;
    overflow: hidden;
    transition: all .2s ease-in-out;
    margin-bottom: 1.5rem;
    display: block;
}

.ReactModalPortal form input[name="name"], .ReactModalPortal form textarea[name="description"], .ReactModalPortal form input[name="title"], .ReactModalPortal form select[name="assignee_id"], .ReactModalPortal form .form-group-date input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: none;
    box-sizing: border-box;
    padding: .375rem .5rem;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    border: 1px solid rgba(80, 80, 80, 0.25);
    border-radius: .3rem;
    overflow: hidden;
    transition: all .2s ease-in-out;
    margin-bottom: 1.5rem;
    display: block;
}

.ReactModalPortal form .form-group-date input {
    cursor: pointer;
}

.ReactModalPortal form textarea[name="description"] {
    height: 100px;
}

.ReactModalPortal form .button {
    margin: 0 auto;
    height: fit-content;
}

.ReactModalPortal form button[type="submit"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 1rem;
    width: 150px;
    display: block;
    padding: .375rem .75rem;
    background-clip: padding-box;
    border: 1px solid #f2f2f2b7;
    border-radius: .3rem;
    transition: all .1s ease-in-out;
    background-color: var(--base2);
    color: var(--base0);
    margin: 0 auto;
}

.ReactModalPortal form button[type="submit"]:hover {
    transition: all .1s ease-in-out;
    background-color: var(--accent0);
}

.ReactModalPortal form button[type="submit"]:active {
    transition: all 0s ease-in-out;
    background-color: var(--base0);
}

.button {
    height: 24px;
	cursor: pointer;
    margin-left: auto;
    transition: .1s all ease-in-out;
}

.button:hover svg {
	fill: var(--darkGrey);
    transition: .1s all ease-in-out;
}

.content-container {
	display: flex;
	flex-flow: column;
	width: 100%;
}

img.emojione {
	margin: 0px !important;
	display: inline !important;
	height: auto;
	width: 50px;
}

span.emoji {
	font-size: 30px;
	vertical-align: middle;
	line-height: 2;
}

.loading {
    position: absolute;
    top:50%;
    right:0px;
    width:100%;
    height:100%;
}