body * {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    box-sizing: border-box;
	color: var(--fontBlack);
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul, li {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--base0: #F2F2F2;
    --base1: #23292e;
	--base2: #343D46;
	--accent0: #ff8851;
    --accent1: #ff3c00;
    --fontBlack: rgb(80,80,80);
    --grey: rgb(230,230,230);
    --darkGrey: rgb(200,200,200);
    --lightGrey: rgb(240,240,240);
}

a:hover {
	color: blue;
}

body {
	background-color: var(--base0);
}

#view {
    display: flex;
    flex-direction: row;
	min-height: 100vh;
    color: var(--base0);
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
	margin-left: 270px;
}

.ReactModal__Content.ReactModal__Content--after-open {
	margin: auto;
	max-width: 800px;
	max-height: 700px;
	
}

.button {
	color: var(--base0);
	cursor: pointer;
}

.content-container {
	display: flex;
	flex-flow: column;
	width: 100%;
}

img.emojione {
	margin: 0px !important;
	display: inline !important;
	height: auto;
	width: 50px;
}

span.emoji {
	font-size: 30px;
	vertical-align: middle;
	line-height: 2;
}