.body-content {
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 270px;
    right: 0px;
    display: flex;
    align-content: flex-start;
    flex-flow: column nowrap;
    background-image: linear-gradient(135deg, var(--lightGrey), var(--grey));
}

.header {
    box-sizing: border-box;
    padding-left: 2rem;
    min-height: 91px;
    background-color: var(--base2);
    display: flex;
    border-left: 1px solid var(--accent1);
}

.header h2 {
    color: var(--base0);
    margin: auto 0;
    font-size: 1.5rem;
}

.task-container {
    margin: auto;
    margin-top: 0;
    padding: 5rem 0;
    width: 100%;
    overflow: auto;
    
}

.tasks, .dashboard-favorites, .task-list {
    max-width: 1200px;
    box-sizing: border-box;
    margin: auto;
}

.dashboard-favorites {
    margin: 3rem auto;
}

.due-today, .overdue, .recently-assigned, .due-soon, .upcoming, .completed-tasks {
    margin: auto;
    min-height: 200px;
    background-color: var(--base0);
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 2px solid var(--darkGrey);
    overflow: hidden;
    box-sizing: border-box;
}

.favorites {
    margin: auto;
    min-height: 200px;
    border-top: 1px solid var(--darkGrey);
    padding-top: 3rem;
}

.tasks h2, .dashboard-favorites h2 {
    padding: 2rem 0;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.task-container h2 {
    padding-top: 4rem;
    font-size: 1.2rem;
}

.task-container h2:first-of-type {
    padding-top: 0;
}

.task-item {
    cursor: pointer;
}

.task-item.completed h3 {
    font-style: italic;
    color: rgba(150, 150, 150, 0.5);
    text-align: center;
}

.task-item, .task-header {
    text-align: center;
    padding-left: 1rem;
    padding-right: 3rem;
    min-height: 50px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    border-bottom: 1px solid var(--darkGrey);
    box-sizing: border-box;
}

.tasks .task-item:last-of-type  {
    border-bottom: 1px solid var(--base0);
}

.recently-assigned > .task-item:last-of-type {
    border-bottom: 1px solid var(--darkGrey);
}
.tasks .task-item:hover {
    background-color: var(--grey);
}

.tasks .task-item h3:first-of-type, .tasks .task-header h3:first-of-type {
    text-align: left;
}

.tasks .task-item h3:last-of-type, .tasks .task-header h3:last-of-type {
    text-align: right;
}

.tasks .task-item h3, .tasks .task-header h3 {
    width: 200px;
    margin: auto 0;
    font-weight: bold;
}

.tasks .task-header {
    border-bottom-color: var(--fontBlack);
}

.tasks .task-header h3 {
    font-size: 1rem;
    font-weight: bold;
}

.complete-checkbox {
    min-width: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.complete-checkbox svg {
    margin: auto;
    transition: .1s all ease-in-out;
}

.complete-checkbox:hover svg {
    transform: scale(1.2);
    transition: .1s all ease-in-out;
}

.tasks .empty {
    font-size: 1.5rem;
    min-height: 140px;
    width: 100%;
    text-align: center;
    line-height: 200px;
}