.body-content {
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 270px;
    right: 0px;
    display: flex;
    align-content: flex-start;
    flex-flow: column nowrap;
    background-color: var(--base0);
    overflow:auto;
    overflow-x: hidden;
}

.header {
    box-sizing: border-box;
    padding-left: 2rem;
    min-height: 91px;
    background-color: var(--base2);
    display: flex;
    border-left: 1px solid var(--accent1);
}

.header h2 {
    color: var(--base0);
    margin: auto 0;
    font-size: 1.5rem;
}

.dashboard-container, .task-container {
    margin: auto;
    margin-top: 7rem;
    width: 100%;
}

.dashboard-tasks, .dashboard-favorites {
    max-width: 1200px;
    margin: auto;
}

.dashboard-favorites {
    margin: 3rem auto;
}

.tasks-due-soon {
    margin: auto;
    min-height: 300px;
    background-color: var(--base0);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.favorites {
    margin: auto;
    min-height: 300px;
    border-top: 1px solid var(--grey);
    padding-top: 3rem;
}

.dashboard-tasks h2, .dashboard-favorites h2 {
    padding: 2rem 0;
    font-size: 1.2rem;
}

.task-container {
    margin-top: 7rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    margin: 2rem;
}

.task-container .task-list {
    flex-basis: 50%;
}

.task-container .task-detail-container {
    flex-basis: 50%;
}

.task-container h2 {
    padding: 1rem 0;
    font-size: 1.2rem;
}

.tasks {
    margin-right: 5rem;
}

.tasks > .recently-assigned, .today, .upcoming {
    min-height: 200px;
    border-top: 1px solid var(--grey);
    padding-top: 3rem;
    /* background-color: var(--base0);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
}

.task-detail-container h2 {
    text-align: center;
}

.task-detail {
    border-top: 1px solid var(--grey);
}