.body-content {
    position: absolute;
    top: 100px;
    bottom: 0px;
    left: 270px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-content: flex-start;
}

.task-container, .dashboard-container {
    display: flex;
    width: 100%;
}

.task-container .tasks, .dashboard-container .dashboard-my-tasks {
    flex-basis: 60%;
}

.task-container .task-detail, .dashboard-container .recent-activity {
    flex-basis: 40%;
}

.task-container .task-detail, .dashboard-container .dashboard-my-tasks {
    display: flex;
    flex-flow: column;
}

.task-container .task-detail, .dashboard-container .recent-activity {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.task-container .tasks, .task-container .task-detail {
    padding: 1rem;
    border-right: 1px solid var(--grey);
}

.task-container .projects {
    border-bottom: 1px solid var(--grey);
}

.body-content h2 {
    text-align: center;
    font-size: 1.2rem;
}

.tasks-container, .projects-container, .teams-container, .recent-activity, .dashboard-my-tasks {
    padding: 1rem;
}