.body-content {
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 270px;
    right: 0px;
    display: flex;
    align-content: flex-start;
    flex-flow: column nowrap;
    background-image: linear-gradient(135deg, var(--lightGrey), var(--grey));
    overflow: hidden;
}

header {
    box-sizing: border-box;
    padding: 0 2rem;
    min-height: 91px;
    background-color: var(--base2);
    display: flex;
    border-left: 1px solid var(--accent1);
    justify-content: space-between;
}

header h2 {
    color: var(--base0);
    margin: auto 0;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

header a {
    font-family: 'Montserrat', sans-serif;
    color: var(--accent1);
    margin: auto 0;
    text-decoration: none;
}

header a:hover {
    color: var(--accent1);
    text-decoration: underline;
}

.task-container, .projects-container, .teams-container {
    margin: auto;
    margin-top: 0;
    padding: 5rem;
    width: 100%;
    overflow-y: auto;
}

.tasks, .dashboard-favorites, .task-list, .projects, .teams {
    max-width: 1200px;
    box-sizing: border-box;
    margin: auto;
}

.dashboard-favorites {
    margin: 3rem auto;
}

.due-today, .overdue, .recently-assigned, .due-soon, .upcoming, .completed-tasks, .projects-led, .all-projects, .teams-led, .all-teams {
    margin: auto;
    min-height: 200px;
    background-color: var(--base0);
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 2px solid var(--darkGrey);
    overflow: hidden;
    box-sizing: border-box;
}

.favorites {
    margin: auto;
    min-height: 200px;
    border-top: 1px solid var(--darkGrey);
    padding-top: 3rem;
}

.tasks h2, .dashboard-favorites h2, .projects h2, .teams h2 {
    padding: 2rem 0;
    font-size: 1.2rem;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.task-container h2, .projects-container h2, .teams-container h2 {
    padding-top: 4rem;
    font-size: 1.2rem;
}

.task-container h2:first-of-type, .projects-container h2:first-of-type, .teams-container h2:first-of-type {
    padding-top: 0;
}

.task-item, .project-item, .team-item {
    cursor: pointer;
}

.task-item.completed h3 {
    font-style: italic;
    color: rgba(150, 150, 150, 0.5);
    text-align: center;
}

.task-item, .task-header {
    text-align: center;
    padding-left: 1rem;
    padding-right: 3rem;
    min-height: 50px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    border-bottom: 1px solid var(--darkGrey);
    box-sizing: border-box;
}

.project-item, .project-header, .team-item, .team-header {
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
    min-height: 50px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    border-bottom: 1px solid var(--darkGrey);
    box-sizing: border-box;
}

.due-today .task-item:last-of-type, .overdue .task-item:last-of-type, .recently-assigned .task-item:last-of-type, .due-soon .task-item:last-of-type, .upcoming .task-item:last-of-type, .completed-tasks .task-item:last-of-type, .projects-led  .project-item:last-of-type, .all-projects .project-item:last-of-type, .teams-led .team-item:last-of-type, .all-teams .team-item:last-of-type  {
    border-bottom: 1px solid var(--base0);
}

.due-today .task-item:nth-child(2), .overdue .task-item:nth-child(2), .recently-assigned .task-item:nth-child(2), .due-soon .task-item:nth-child(2), .upcoming .task-item:nth-child(2), .completed-tasks .task-item:nth-child(2), .projects-led  .project-item:nth-child(2), .all-projects .project-item:nth-child(2), .teams-led .team-item:nth-child(2), .all-teams .team-item:nth-child(2)  {
    border-bottom: 1px solid var(--darkGrey);
}

.due-today .task-item:nth-child(3), .overdue .task-item:nth-child(3), .recently-assigned .task-item:nth-child(3), .due-soon .task-item:nth-child(3), .upcoming .task-item:nth-child(3), .completed-tasks .task-item:nth-child(3), .projects-led  .project-item:nth-child(3), .all-projects .project-item:nth-child(3), .teams-led .team-item:nth-child(3), .all-teams .team-item:nth-child(3)  {
    border-bottom: 1px solid var(--darkGrey);
}

.task-item:hover, .project-item:hover, .team-item:hover {
    background-color: var(--grey);
}

.tasks .task-item h3:first-of-type, .tasks .task-header h3:first-of-type, .projects .project-item h3:first-of-type, .projects-led .project-header h3:first-of-type, .all-projects .project-header h3:first-of-type, .all-projects .project-header h3:first-of-type, .all-teams .team-item h3:first-of-type, .teams-led .team-item h3:first-of-type, .all-teams .team-header h3:first-of-type, .teams-led .team-header h3:first-of-type, .project-tasks .task-item h3:first-of-type, .project-tasks .task-header h3:first-of-type {
    text-align: left;
}

.tasks .task-item h3:last-of-type, .tasks .task-header h3:last-of-type, .projects .project-item h3:last-of-type, .projects-led .project-header h3:last-of-type, .all-projects .project-header h3:last-of-type, .all-teams .team-item h3:last-of-type, .teams-led .team-item h3:last-of-type, .all-teams .team-header h3:last-of-type, .teams-led .team-header h3:last-of-type, .project-tasks .task-item h3:last-of-type, .project-tasks .task-header h3:last-of-type {
    text-align: right;
}

.tasks .task-item h3, .tasks .task-header h3, .projects .project-item h3, .projects .project-header h3, .teams .team-header h3, .teams .team-item h3, .project-tasks .task-item h3, .project-tasks .task-header h3 {
    width: 200px;
    max-width: 200px;
    margin: auto;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tasks .task-header, .projects .project-header, .teams .team-header {
    border-bottom-color: var(--fontBlack);
}

.tasks .task-header h3, .projects .project-header h3, .teams .team-header h3, .project-tasks .task-header h3 {
    font-size: 1rem;
    font-weight: bold;
}

.complete-checkbox {
    min-width: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.complete-checkbox svg {
    margin: auto;
    transition: transform .1s ease-in-out;
}

.complete-checkbox:hover svg {
    transform: scale(1.2);
}

.complete-checkbox:active svg {
    fill: var(--base2);
}

.tasks .empty, .projects .empty, .teams .empty {
    font-size: 1.5rem;
    min-height: 140px;
    width: 100%;
    text-align: center;
    line-height: 200px;
}

.grey {
    color: var(--darkGrey);
}

.red {
    font-size: 1.1rem;
    color: red;
}

.orange {
    font-size: 1.1rem;
    color: var(--accent0);
}

.active-team-container {
    padding: 0 2rem;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.active-team-overview-and-members {
    padding: 2rem;
    padding-bottom: 0;
    flex-basis: 25%;
    min-width: 400px;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
}

.active-team-projects {
    min-width: 75%;
    padding: 2rem;
    padding-bottom: 0;
    flex-basis: 75%;
}

.active-team-container h2, .project-tasks-container-header h2, .projects-tasks-container-tasks h2 {
    padding: 2rem 0;
    font-size: 1.2rem;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid var(--darkGrey);
    height: 90px;
}

.active-team-container .overview, .active-team-container .active-team-members, .team-lead {
    min-height: 150px;
}

.active-team-container .overview {
    display: flex;
    flex-flow: row wrap;
}

.active-team-container .icon, .active-project-container .icon {
    margin-left: 1rem;
}

.active-team-container .icon svg, .active-project-container .icon svg {
    margin: auto;
    fill: var(--darkGrey);
    transition: .1s all ease-in-out;
    cursor: pointer;
}

.active-team-container .icon svg:hover, .active-project-container .icon svg:hover {
    fill: var(--fontBlack);
    transform: scale(1.15);
}

.active-team-container .overview-header, .active-team-container .overview {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.active-team-container .overview-container h3, .active-team-container .overview-container .overview-item {
    width: 150px;
    margin-top: 2rem;
    font-size: 1rem;
    height: auto;
}

.active-team-container .overview-container .overview-item {
    width: 100px;
    height: 100px;
    margin: 0 25px;
    margin-top: 2rem;
    box-sizing: border-box;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.active-team-container .overview-item-container {
    flex-basis: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    min-width: 150px;
    margin: auto;
}

.active-team-container .overview-container .overview-item h4 {
    margin: auto;
    font-size: 2rem;
    line-height: 100px;
}

.active-team-container .overview-container .overview-item .red, .project-info-item .red {
    background-color: var(--redTint);
    color: white;
}

.active-team-container .overview-container .overview-item .orange, .project-info-item .orange {
    background-color: var(--accent0);
    color: white;
}

.active-team-container .overview-container .overview-item .grey, .project-info-item .grey {
    background-color: var(--darkGrey);
    color: var(--base0);
}

.active-team-container .overview-container .overview-item .active-grey, .project-info-item .active-grey {
    background-color: var(--darkGrey);
    color: var(--fontBlack);
}

.team-members, .lead {
    padding: 1rem;
}


.team-members div, .lead div {
    font-weight: bold;
    font-size: 1rem;
}

.member-container {
    display: flex;
    padding: .5rem 0;
}

body .avatar {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 1.3rem;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--base2);
    color: var(--base0);
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-right: 2rem;
    flex-shrink: 0;
}

body .avatar-small {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--base2);
    color: var(--base0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.member-container span {
    color: var(--darkGrey);
}

.team-member {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.active-team-projects {
    display: flex;
    flex-flow: column;
    min-width: 900px;
    max-width: 1400px;
    margin: 0 auto;
}

.team-projects-container, .team-members, .project-tasks-list {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-flow: column;
}

.team-projects-container .empty-projects {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 5rem;
}

.active-team-project-item {
    display: flex;
    min-height: 175px;
    box-sizing: border-box;
    background-color: var(--base0);
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 2rem auto;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-flow: column;
    cursor: pointer;
    transition: .1s all ease-in-out;
}

.active-team-project-item:hover {
    transition: .1s all ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.active-team-project-item h2 {
    display: flex;
    align-items: center;
    align-self: flex-start;
    padding: 0;
    border-bottom: none;
    width: 100%;
    padding: 1rem;
    background-color: var(--base2);
    color: var(--base0);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: auto;
    transition: .1s all ease-in-out;
}

.active-team-project-item:hover h2 {
    transition: .1s all ease-in-out;
    background-color: #4f5d6b;
}

.active-team-members {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.avatar-name-container {
    padding-top: .5rem;
    display: flex;
}

.active-team-project-item .member-container {
    margin-left: 1rem;
    display: flex;
    flex-flow: column;
}

.active-team-project-item .member-container .team-member {
    font-weight: bold;
    font-size: 1rem;
}

.dark-grey {
    color: var(--darkGrey);
}

.project-info {
    margin: 0 auto;
    align-self: flex-start;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 120px;
    max-width: 900px;
}

.project-info-item-header {
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: .5rem;
    text-align: center;
}

#view .CircularProgressbar-path {
    stroke: var(--base2);
}

#view .CircularProgressbar-text {
    font-family: 'Montserrat', sans-serif;
    fill: var(--fontBlack);
}

.project-info-item {
    display: flex;
    flex-flow: column;
}

.project-info-item h3 {
    border-radius: 50%;
    margin: auto;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.active-project-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}

.active-project-container .project-tasks-container, .active-project-container .project-task-details-container {
    flex-basis: 50%;
    width: 50%;
}

.active-project-container .project-tasks-container {
    background-color: var(--base0);
    flex-basis: 60%;
    width: 60%;
}

.active-project-container .project-task-details-container {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--grey);
    flex-basis: 40%;
    width: 40%;
}

.project-tasks-container-header h2, .projects-tasks-container-tasks h2 {
    padding: 2rem;
    font-size: 1.2rem;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--grey);
    border-bottom: 1px solid var(--darkGrey);
    height: 90px;
}

.project-tasks-overview {
    padding: 0 2rem;
    border-bottom: 1px solid var(--darkGrey);
    height: 150px;
    display: flex;
    align-content: center;
}

.project-tasks-overview .project-lead {
    margin: auto;
}

.project-tasks-overview .project-info .project-info-item:last-of-type .project-info-item-header {
    padding-left: 1rem;
    text-align: left;
}

.project-tasks-overview .avatar {
    margin-right: 1rem;
}

.project-tasks .task-item, .project-tasks .task-header {
    padding: 0 1rem;
}

.task-item.active {
    background-color: var(--accent0);
}

.task-item.active svg {
    fill: var(--base0);
}

.active-project-container, .project-tasks-container, .projects-tasks-container-tasks, .project-tasks {
    height:100%;
    overflow: hidden;
}

.project-tasks-container, .projects-tasks-container-tasks, .project-tasks {
    display: flex;
    flex-flow: column;
}