h1 {
    font-family: 'Montserrat', sans-serif;
	color: white;
	margin: auto;
	font-size: 3rem;
    font-style: italic;
	font-weight: bold;
	letter-spacing: -1px;
    text-align: center;
    padding: 1rem 0;
}

#view .pro-sidebar {
    background-color: var(--base2);
	position: -webkit-sticky;
    position: sticky;
    top: 0px;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    z-index: 0;
}

#view .pro-sidebar-inner, .pro-sidebar-layout {
    background-color: var(--base2);
}

.sidebar-container * {
    color: var(--base0);
}

.sidebar-container {
	background-color: var(--base2);
	color: var(--base0);
}

.sidebar-home, .sidebar-workspace {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #4f5d6b;
}

.sidebar-item {
    padding: 25px 0;
    border-bottom: 1px solid #4f5d6b;
}

.sidebar-sub-item {
	background-color: var(--base2);
}

.sidebar-container h2 {
    color: #708396;
    font-size: 1.1rem;
    padding: 0 2rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

.text-item {
    text-align: center;
    padding: 0 3rem;
    min-height: 50px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar-home .text-item {
    text-align: center;
    padding: 0 3rem;
    min-height: 50px;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-content: center;
}

.text-item:hover  {
    background-color: #4f5d6b;
}

.sidebar-home .text-item span {
    padding-right: 2rem;
}

.sidebar-container .sidebar-home .text-item {
    min-height: 50px;
    line-height: 50px;
}

.sidebar-container .sidebar-workspace .text-item {
    min-height: 50px;
    display: flex;
    flex-flow: column;
    text-align: left;
    justify-content: center;
}

.sidebar-container .sidebar-workspace .text-item.active {
    max-height: 50px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    cursor: pointer;
}

.sidebar-workspace .text-item span.sub {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    line-height: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.sidebar-workspace .text-item span.sub svg {
    transform: translateY(-2px);
    margin-right: 5px;
}

.sidebar-container .text-item h4 {
    background-color: var(--base2);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}


.sidebar-container .text-item.active, .sidebar-container .text-item.active h4, .sidebar-container .text-item.active:hover h4 {
    background-color: var(--base1);
}

.sidebar-container .text-item:hover h4 {
    background-color: #4f5d6b;
}

.sidebar-container .text-item span {
    display: flex;
    margin: auto 0;
}

.text-item {
    cursor: pointer;
}

.text-item.active {
    cursor: default;
    background-color: var(--base1);
}

.sidebar-workspace form {
    margin: 0 2rem;
}

#view select, #view select option {
    width: 100%;
    color: var(--base2);
}

.icon {
    vertical-align: middle;
    display: inline-block;
}

.icon svg {
    margin: auto;
    fill: #708396;
    transition: .1s all ease-in-out;
    cursor: pointer;
}

.icon svg:hover {
    fill: var(--base0);
    transform: scale(1.15);
}

.empty {
    padding: 0 3rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar-container .text-item h3, .sidebar-container .text-item h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}