h1 {
    font-family: 'Montserrat', sans-serif;
	color: white;
	margin: auto;
	font-size: 3rem;
    font-style: italic;
	font-weight: bold;
	letter-spacing: -1px;
    text-align: center;
    padding: 1rem 0;
}

#view .pro-sidebar {
    background-color: var(--base2);
	position: -webkit-sticky;
    position: sticky;
    top: 0px;
    min-height: 100vh;
}

#view .pro-sidebar-inner, .pro-sidebar-layout {
    background-color: var(--base2);
}

.sidebar-container * {
    color: var(--base0);
}

.sidebar-container {
	background-color: var(--base2);
	color: var(--base0);
}

.sidebar-home, .sidebar-workspace {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #4f5d6b;
}

.sidebar-item {
    padding: 25px 0;
    border-bottom: 1px solid #4f5d6b;
}

.sidebar-sub-item {
	background-color: var(--base2);
}

.sidebar-container h2 {
    color: #708396;
    font-size: 1.1rem;
    padding: 0 2rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

.text-item {
    text-align: center;
    padding: 0 3rem;
    min-height: 50px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
}

.sidebar-home .text-item {
    text-align: center;
    padding: 0 3rem;
    min-height: 50px;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-content: center;
}

.text-item:hover  {
    background-color: #4f5d6b;
}

.sidebar-home .text-item span {
    padding-right: 2rem;
}

.sidebar-container .text-item {
    min-height: 50px;
    line-height: 50px;
}

.sidebar-container .text-item h4 {
    background-color: var(--base2);
    font-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}


.sidebar-container .text-item.active, .sidebar-container .text-item.active h4, .sidebar-container .text-item.active:hover h4 {
    background-color: var(--base1);
}

.sidebar-container .text-item:hover h4 {
    background-color: #4f5d6b;
    position: fixed;
    overflow-x: visible; 
    white-space: nowrap; 
    width: auto;
    padding-right: 3rem;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.sidebar-container .text-item span {
    display: flex;
    margin: auto 0;
}

.text-item {
    cursor: pointer;
}

.text-item.active {
    cursor: default;
    background-color: var(--base1);
}

.sidebar-workspace form {
    margin: 0 2rem;
}

#view select, #view select option {
    width: 100%;
    color: var(--base2);
}

.icon svg {
   fill: #708396;
   transition: .1s all ease-in-out;
   cursor: pointer;
}

.icon svg:hover {
    fill: var(--base0);
    transform: scale(1.15);
}

.empty {
    padding: 0 3rem;
}