#root {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.action-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: auto;
    width: 400px;
    min-height: 500px;
    border-radius: .4rem;
    overflow: hidden;
    background-color: white;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
}

.bottom-container {
    text-align: center;
    margin-top: auto;
    display: flex;
    flex-flow: column;
    align-content: center;
    padding: 1rem;
    background-color: white;
}

.bottom-container a {
    text-decoration: none;
    margin: auto;
}

.bottom-container a:hover {
    text-decoration: underline;
}

.bottom-container div {
    padding: .25rem;
}

.user-actions {
    margin-top: auto;
    margin-bottom: auto;
    padding: 1rem;
}

@media(min-width:600px) {
    .action-container {
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    }

    body {
        background-image: -webkit-linear-gradient(-135deg,var(--accent0) 0%,var(--accent1) 100%);
    }

    .bottom-container {
        background-color: var(--base0);
        border-top: 1px solid var(--accent1);
    }
}

.cancel-container {
    text-align: center;
    padding: 2rem;
    padding-top: 0;
}

.cancel-container p {
    padding: 1rem
}

input.btn {
    margin: auto;
    width: 100%;
}

h6 {
    text-align: center;
    padding: 1rem 0;
}

form label {
    display:inline-block;
    margin-bottom: .5rem;
}

form input {
    margin-bottom: 1rem;
}

form input[type="submit"] {
    -webkit-appearance: none;
    appearance: none;
    margin-top: 1rem;
    height: 35px;
    width: 100%;
    display: block;
    padding: .375rem .75rem;
    background-clip: padding-box;
    border: 1px solid #f2f2f2b7;
    border-radius: .3rem;
    transition: all .1s ease-in-out;
    background-color: var(--accent1);
    color: var(--base0);
}

form input[type="submit"]:hover {
    transition: all .1s ease-in-out;
    background-color: var(--accent0);
}

form input[type="submit"]:active {
    transition: all 0s ease-in-out;
    background-color: var(--base0);
}

form input[name="user[email]"], form input[name="user[password]"], form input[name="user[password_confirmation]"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border: none;
    box-sizing: border-box;
    padding: .375rem .5rem;
    margin: auto;
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    color: var(--fontBlack);
    border: 1px solid rgba(80, 80, 80, 0.25);
    border-radius: .3rem;
    overflow: hidden;
    transition: all .2s ease-in-out;
    margin-bottom: 1.5rem;
}

form input[name="user[email]"]:focus, form input[name="user[password]"]:focus, form input[name="user[password_confirmation]"]:focus {
    outline: none;
    box-shadow: 0 0 0px 5px #ff510059;
    transition: all .2s ease-in-out;
}

#error_explanation {
    padding-bottom: 1rem;
}

#error_explanation h2 {
    font-size: 1rem;
    color: red;
}

#error_explanation li {
    list-style: disc;
    font-size: .75rem;
    color: red;
}